/* About Section */
.about-me {
    display: flex; 
    justify-content: space-between;
    padding: 0px 3%; 
    margin-right: 2rem;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff; /*
    /* box-shadow: 0px 2px 5px rgba(163, 160, 160, 0.2); */
    flex-wrap: nowrap; 
}

.about-me img {
    flex-shrink: 0; 
    height: 400px; 
    width: 400px; 
    border-radius: 50%; 
    object-fit: cover; 
    background-color: #fff;
}

.about-me img:hover {
    transition: 0.5s;
    border: 4px solid #ff00ff; 
    transform: scale(1.1); 
}

.text-content {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    max-width: 60%; 
}

.about-me h2 {
    font-size: 50px; 
    margin-bottom: 20px;
}

.about-me span {
    color: #ff00ff;
    border-radius: 0.5rem;
    border: solid 1px #ff00ff;
    padding: 1.25rem 0.5rem;
    padding-bottom: 1rem;
}

.about-second p {
    text-align: justify; 
    font-size: 18px; 
    line-height: 1.6;
    margin-bottom: 2rem; 
}

.CV {
    display: inline-block;
    color: #fff;
    background-color: #000;
    width: 12rem;
    padding: 1rem 0.5rem;
    font-size: 18px;
    text-align: center;
    border-style: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.CV:hover {
    background-color: #000;
    border: 2px solid #ff00ff;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .about-me img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .text-content {
        max-width: 100%;
    }
}
