/* Contact Section */

.contato {
    padding: 90px 10%;
    background-color: #191919;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 400px;
    height: 100vh;
}

.titulo-secao {
    font-size: 20px;

}

.subtitulo-secao {
    color: #fff;
}

.contato p {
    font-size: 18px;
    margin-top: 7px;
}

.lista-contato {
    list-style: none;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista-contato li {
    margin: 10px 0;
}

.lista-contato a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none; 
    display: inline-flex; 
    gap: 8px; 
    transition: color 0.3s; 
}

.lista-contato a:hover {
    color: #ff00ff; 
    text-decoration: none;
}


.lista-contato i {
    font-size: 1.2rem; 
    transition: color 0.3s;
}

.lista-contato span {
    transition: color 0.3s; 
}

@media (max-width: 768px) {
    .contato {
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .lista-contato {
        gap: 10px;
    }
}