/* Footer Section */

footer {
    border-top: 2px solid #ff00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.footer-list {
    display: flex;
    flex-direction: row;
    gap: 25px; 
    margin: 0;
    padding: 0;
    list-style: none; 
    margin-left: 7.5rem; 
}

.footer-list li {
    list-style: none;
}

.footer-list i {
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer-list a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.footer-list a:hover {
    color: #ff00ff;
    transition: 0.3s;
}

.text-footer {
    color: #fff;
    text-align: right;
    margin: 0;
    margin-right: 7rem;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .footer-list {
        justify-content: center;
        margin: 10px 0;
    }

    .text-footer {
        margin: 0;
    }
}