/* Header Section */

.header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #191919;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 35px 80px; 
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.header-menu-name {
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.header-menu-name span {
    color: #ff00ff;
    border: solid 1px #ff00ff;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
}

.header-menu-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    transition: transform 0.3s ease;
}
.header-menu-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header-menu-menu li:hover a {
    color: #ff00ff;
    text-decoration: underline;
    transition: 0.5s;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header-menu-menu {
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #191919;
        padding: 20px;
        border: 1px solid #ff00ff;
        transform: translateY(-200%);
        visibility: hidden;
        opacity: 0;
    }

    .header-menu-menu.open {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    .menu-toggle {
        display: block;
    }
}