@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');        


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #191919;
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
}

.home-first {
    margin-left: 80px;
    display: flex;
    flex-direction: column; /* Organiza os textos verticalmente */
    row-gap: 20px; /* Espaçamento entre os textos */
}

.home-first-name {
    display: block;
    top: 250px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}

.home-first-name p {
    margin: 10px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social-links ul {
    list-style: none;
    display: flex;
    gap: 70px; /* Espaçamento entre os ícones */
}

.sociais img {
    height: 40px;
    width: 40px;
    background-color: #ff00ff;
    border: 4px solid #fff;
     /* border: 4px solid #fff;  */
    transition: transform 0.5s; 
    border-radius: 50%;
    cursor: pointer;
    
}

.sociais img:hover {
    border: 3px solid #ff00ff;
    transform: scale(1.1); 
    transition: border 0.5s;
    
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; /* Garante que nenhum conteúdo extra vaze */
    margin-top: 70px;
    margin-left: 200px;
}

.home-img img {
    max-width: 80%; /* Garante que a imagem não ultrapasse o tamanho da div */
    max-height: 100%; /* Define uma altura máxima proporcional */
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
    pointer-events: auto; /* Permite interações apenas na imagem visível */
}


/* Apresentation Section */
.apresentation h3 {
    color: #ff00ff;
    font-size: 30px;
    text-align: center;
    padding: 1.25rem;
}









