/* Projects Section */

.projetos {
    padding: 60px 10%;
    background-color: #191919;
    
}


.second-secao {
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 35px;
}

.titulo-secao {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff00ff; 
}

.subtitulo-secao {
    font-size: 28px;
    margin-bottom: 40px;
    color: #333;
}

@media (max-width: 768px) {
    .projetos {
        padding: 20px;
        text-align: center;
    }

    .second-secao {
        font-size: 24px;
    }
}